//variable color
$color-blue : #00a8ff;
$color-white: white;
$color-black: black;
$color-green: #00b894;
$color-green1: #79cebd;
$color-yellow: #f0cd41;
$color-yellow1: #e9d68b;
$color-yellow2: #e9d68b;

//variable font
$font-family1: "roboto";
$font-family2: "ZenToKyO";